* {
    font-family: 'Poppins', 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
}

body {
    display: grid;
    margin: 0;
    grid-template-columns: 75px calc(100% - 75px);
}

#menu {
    background-color: aqua;
    padding: 25px;
}

#main {
    background-color: blueviolet;
    display: grid;
    grid-template-rows: 155px calc(100% - 205px) 50px;
}

#content {
    padding: 20px;
}

.projs {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.card {
    background-color: white;
    width: min(385px, 100%);
    border-radius: 25px;
    box-shadow: 5px 5px 5px #8b8b8b;
    padding: 20px 25px;
    margin: 20px 10px;
}

.description {
    height: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.actions {
    display: flex;
    justify-content: flex-end;
}

.actions button {
    margin: 5px;
}

#header {
    background-color: chartreuse;
    display: grid;
    grid-template-rows: 50px 105px;
}

#body {
    display: grid;
    grid-template-columns: calc(100% - 365px) 365px;
}

#footer {
    background-color: coral;
    text-align: center;
}

#sidebar {
    background-color: greenyellow;
    padding: 20px;
}

#topbar {
    background-color: deeppink;
    display: grid;
    grid-template-columns: calc(100% - 300px) 300px;
    align-items: center;
}

.search {
    padding: 10px;
}

.profile {
    display: grid;
    grid-template-columns: 50px 250px;
    padding: 10px;
}

#tools {
    background-color: darksalmon;
    display: grid;
    grid-template-columns: 70% 30%;
}

.wlc {
    padding: 15px 50px;
    display: grid;
    grid-template-rows: 30% 70%;
    grid-template-columns: 75px 150px;
    align-items: center;
}

.wlc img {
    grid-row-start: 1;
    grid-row-end: 3;
    height: 65px;
    width: 65px;
    padding: 5px;
    margin: auto;
}

.wlc p {
    padding: 0;
    margin: 0;
}

.wlc h2 {
    padding: 0;
    margin: 0;
}

.btns {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px;
}