* {
    font-family: 'Poppins', 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
}

body {
    display: grid;
    margin: 0;
    grid-template-columns: 75px calc(100% - 75px);
    color: #111827;
}

a, a:visited {
    color: #111827;
    text-decoration: none;
}

#menu {
    background-color: #333d29;
    z-index: 1;
    overflow: hidden;
    width: 75px;
    white-space: nowrap;
    transition: width .4s ease-in-out;
}

#menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: rgba(0, 0, 0, 0);
}

#menu ul li {
    transition: all .3s ease-in-out;
    background-color: rgba(0, 0, 0, 0);
    padding: 10px 25px;
    cursor: pointer;
}

#menu ul li:hover {
    background-color: rgba(0, 0, 0, .2);
    padding-left: 35px;
    transition: all .3s ease-in-out;
}

#menu:hover {
    transition: width .4s ease-in-out;
    width: 250px;
}

#menu hr {
    border: none;
    margin: 20px;
}

#menu ul i {
    font-size: 25px;
    padding-right: 30px;
}

#menu a {
    text-decoration: none;
    color: #a4ac86 !important;
}

.logo {
    color: white;
}

.logo i {
    font-size: 40px;
    margin: 30px 15px;
}

.logo h1 {
    cursor: default;
}

#main {
    display: grid;
    grid-template-rows: 155px calc(100% - 205px) 50px;
}

#content {
    padding: 20px;
}

.projs {
    display: grid;
    grid-template-columns: repeat(2,min(calc(100% / 2 - 45px), 100%));
    gap: 20px 45px;
    overflow: auto;
}

.card {
    background-color: white;
    border-radius: 25px;
    box-shadow: 5px 5px 5px #8b8b8b;
    padding: 20px 25px;
    margin: 20px 10px;
}

#content .card {
    margin: 0;
}

.description {
    height: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.actions {
    display: flex;
    justify-content: flex-end;
}

.actions button {
    margin: 5px;
}

#header {
    background-color: #582f0e;
    display: grid;
    grid-template-rows: 50px 105px;
    color: white;
}

#header a,
#header a:visited {
    color: white;
}

#body {
    display: grid;
    grid-template-columns: calc(100% - 365px) 365px;
    background-color: #c2c5aa;
}

#footer {
    background-color: #936639;
    text-align: center;
    color: white;
}

#footer a,
#footer a:visited {
    color: #f1f5f9;
    text-decoration: underline;
}

#sidebar {
    padding: 20px;
}

.user {
    display: grid;
    grid-template-rows: 60% 40%;
    grid-template-columns: 40% 60%;
    align-items: center;
    margin-bottom: 10px;
    justify-items: center;
}

.user img {
    grid-row-start: 1;
    grid-row-end: 3;
    height: 45px;
    width: 45px;
}

.username {
    font-size: 12px;
}

#topbar {
    display: grid;
    grid-template-columns: calc(100% - 300px) 300px;
    align-items: center;
}

.search {
    padding: 10px 25px;
}

.search input {
    margin: 0 50px;
    width: min(600px, 70%);
    border-radius: 75px;
    border: solid #a68a64;
    background-color: #a68a64;
    padding: 0 10px;
    color: white;
    transition: all .3s ease-in-out;
}

.search input:hover {
    background-color: #936639;
    transition: all .3s ease-in-out;
}

.search input:focus-visible {
    outline: none;
    border: solid #b6ad90;
    transition: all .3s ease-in-out;
}

.profile {
    display: grid;
    grid-template-columns: 50px 250px;
    padding: 10px;
    align-items: center;
}

.profile img {
    width: 30px;
    height: 30px;
}

.profile div {
    display: flex;
    align-items: center;
}

.profile div img {
    margin: 0 20px;
}

#tools {
    display: grid;
    grid-template-columns: 70% 30%;
}

#tools a,
#tools a:visited {
    color: white;
}

.wlc {
    padding: 15px 50px;
    display: grid;
    grid-template-rows: 30% 70%;
    grid-template-columns: 75px 150px;
    align-items: center;
}

.wlc img {
    grid-row-start: 1;
    grid-row-end: 3;
    height: 65px;
    width: 65px;
    padding: 5px;
    margin: auto;
}

.wlc p {
    padding: 0;
    margin: 0 15px;
}

.wlc h2 {
    padding: 0;
    margin: 0 15px;
}

.btns {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px;
}

button {
    padding: 5px 20px;
    background-color: #34d399;
    color: white;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}

button:hover {
    transition: all .2s;
    background-color: #15803d;
}

button:active {
    background-color: #052e16;
}

img {
    border-radius: 50%;
}
